<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>童老师ThinkPHP5交流群：484519446</title>
<meta name="description" content="童老师ThinkPHP5交流群：484519446" />
<meta name="keywords" content="童老师ThinkPHP5交流群：484519446" />
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="">
{include file='public/headerJs'/}

</head>
<body id="list_style_2" class="list_style_2">
 <script>
 function subForm()
 {

 formsearch.submit();
 //form1为form的id
 }
 </script>
<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }  
</script>
<div id="mask" class="mask" onclick="CloseMask()"></div> 
{include file="public/header" /}
    <div id="wrapper">
    <div id="xh_container">
        <div id="xh_content">

        <div class="path"><a href='#'>搜索：</a> > <a href='/lookbike/'>{$keywords}结果</a> > </div><div class="clear"></div>
            <div class="xh_area_h_3" style="margin-top: 40px;">
                {if $keywords !='在这里搜索...'}
                {foreach $data as $key=>$vo}
                
<div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="{:url('article/index',array('articleid'=>$vo['id']))}" title="{$vo.title}">
                                    <img src="{$vo.site}" alt="{$vo.title}" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="{:url('article/index',array('articleid'=>$vo['id']))}" title="{$vo.title}">{$vo.title}</a>
                                </h2>
                                <span class="time">{$vo.create_time|date='Y-m-d H:i'}</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                    
                                    {$vo.detail}
                                
                                </div>
                                <div class="b">
                                    <a href="{:url('article/index',array('articleid'=>$vo['id']))}" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="{$vo.like}人赞" class="xh_love"><span class="textcontainer"><span>{$vo.like}</span></span> </span> <span title="{$vo.look}人浏览" class="xh_views">
                                                    {$vo.like}</span>
                                </div>
                            </div>
                        </div>  
                        {/foreach}
                        {else /}
                            <h1>没有搜索到你想要的信息</h1>
                        {/if}
                
                <div id="pagination">{$data|raw}</div>
            </div>
        </div>
        <div id="xh_sidebar">        
<!-- 右侧 -->

         <div class="widget">

<div style="background: url('__INDEX__/images/hots_bg.png') no-repeat scroll 0 0 transparent;width:250px;height:52px;margin-bottom:15px;">
</div>
<ul id="ulHot">

{foreach $getIndexArticleHot as $key=>$vo}
<li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
<div style="float:left;width:85px;height:55px; overflow:hidden;"><a href="{:url('article/index',array('articleid'=>$vo['id']))}" target="_blank"><img src="{$vo.site}" width="83" title="{$vo.title}" /></a></div>
<div style="float:right;width:145px;height:52px; overflow:hidden;"><a href="{:url('article/index',array('articleid'=>$vo['id']))}" target="_blank" title="{$vo.title}">{$vo.title}</a></div>
</li>
{/foreach}




</ul>
                </div>
            
            <div class="widget portrait">

</div>

        </div>
        <div class="clear">
        </div>
    </div>
    <div class="boxBor"></div>

    <div class="boxBor" onclick="IBoxBor()" style="cursor:pointer;"></div>
    <script type="text/javascript">
        $(function () {
            var imgHoverSetTimeOut = null;
            $('.xh_265x265 img').hover(function () {
                var oPosition = $(this).offset();
                var oThis = $(this);
                $(".boxBor").css({
                    left: oPosition.left,
                    top: oPosition.top,
                    width: oThis.width(),
                    height: oThis.height()
                });
                $(".boxBor").show();
                var urlText = $(this).parent().attr("href");
                $("#hdBoxbor").val(urlText);
            }, function () {
                imgHoverSetTimeOut = setTimeout(function () { $(".boxBor").hide(); }, 500);
            });
            $(".boxBor").hover(
                function () {
                    clearTimeout(imgHoverSetTimeOut);
                }
                , function () {
                    $(".boxBor").hide();
                }
            );
        });
        function IBoxBor() {
            window.open($("#hdBoxbor").val());
        }
        function goanewurl() {
            window.open($("#hdUrlFocus").val());
        }
</script>

    </div>

{include file="public/footer" /}
<div style="display: none;" id="scroll">
</div>
<script type="text/javascript" src="./style/z700bike_global.js"></script>

</body>
</html>
